<div class="banner" style="background-image: url(<%= image_path "bar-image.jpg"%>)">
</div>


  <div class="container">
    <h1>Cocktails</h1>

    <p><% @cocktails.each do |cocktail| %></p>
     <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
      <h2>cocktail.name</h2>
      </div>
      <p><%= cocktail.name %></p>
      <p><%= link_to 'Show', cocktail_path(cocktail), class: 'btn btn-secondary' %></p>
    </div>
    <% end %>

    <p><%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %></p>
  </div>


</div>


